{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Parking Manage System</title>

    <link rel="stylesheet" href="../static/css/public.css"/>
    <link rel="stylesheet" href="{% static '../static/css/public.css'%}">

    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="{% static '../static/css/style.css'%}">
</head>
<body>
<!--head-->
<header class="publicHeader">
    <h1>Parking charging manage system</h1>
</header>
<!--Time-->
<section class="publicTime">
    <span id="time"></span>
    <a href="#">Now recommand site:
        {% if  recommand.distance < 1 %}
            None
        {% else %}
        {{ recommand.positionid }}
        {% endif %}
    </a>
</section>
<!--body-->
<section class="publicMian ">
    <div class="left">
        <h2 class="leftH2"><span class="span1"></span>Operation<span></span></h2>
        <nav>
            <ul class="list">
                <li><a href="/Listall/">List all car</a></li>
                <li><a href="/CarRegister/">Register a car</a></li>
                <li><a href="/Search/">Search a car</a></li>
                <li><a href="/Report/">Report a car</a></li>
            </ul>
        </nav>
    </div>
    <div class="right">
        <div class="location">
            <strong>Now avaliable operation:</strong>
            <span>List all car</span>
        </div>

        <div style="overflow: scroll;height: 560px;width: 1255px;">
            <table class="providerTable" cellpadding="0" cellspacing="0"
                   style="position: relative;top: 8px;width: 1237px;left: 0px;">
                <tr class="firstTr">
                    <th>Order</th>
                    <th>License</th>
                    <th>Time</th>
                     <th>Counter</th>
                    <th>Zoon</th>
                    <th>Charge</th>
                </tr>
                {% for Car in Car_list  %}
                    {% if Car.Counter|divisibleby:2 %}
                    {% else %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ Car.License }}</td>
                    <td>{{ Car.Time}}</td>
                    <td>{{ Car.Counter }}</td>
                    <td>{{ Car.Position.positionid }}</td>
                    <td>{{ Car.Charge }} RMB</td>

                </tr>
                    {% endif %}
                {% endfor %}
            {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
            {% endif %}
            </table>
        </div>
    </div>
</section>

<footer class="footer">
</footer>
<script src="../../static/js/jquery.js"></script>
<script src="../../static/js/js.js"></script>
<script src="../../static/js/time.js"></script>
</body>
</html>